
/* General Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Muli', sans-serif;
}

a {
    text-decoration: none;
    color: black; 
}

ul,
nav {
    list-style: none;
}

.fa {
    font-size: 18px;
    transition: all .8s;
}

.fa:hover {
    color: blue;
}

/* Section Styling */

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    min-height: 70vh;
    background-color: #f7f7f7;
    overflow: hidden;
}

h1 {
    padding-bottom: 20px;
}

p {
    text-transform: uppercase;
    letter-spacing: 2.7px;
    line-height: 21px;
    font-size: 12px;
}

hr { 
    width: 80%;
    margin-top: 30px;
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50vw;
}

#blank {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
}

/* Hero */

.hero {
    background-color: white;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -10;
    text-align: center;
}

.hero .text-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 0 40px 0;
}

.hero .logo {
    font-size: 30px;
    padding-bottom: 10px;
    opacity: 0;
    animation: 4s fadeIn .25s forwards;
}

.hero .tagline {
    font-size: 15px;
    opacity: 0;
    animation: 4s fadeIn .5s forwards;
}

.hero p {
    font-size: 8px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 4px;
    opacity: 0;
    animation: 4s fadeIn .7s forwards;
}

.logo {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.tagline {
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* Heading */

.heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 100px; */
    min-height: 20vh;
    background-color: rgb(247, 247, 247);
    overflow: hidden;
    padding: 50px 0 0 0;
}

.heading .text-wrapper {
    text-align: center;
}

.title2 {
    font-size: 15px;
    padding: 0;
}

/* Products */

.product {
    height: 80vh;
}

.sqaure {
    width: 350px;
    height: 350px;
    box-shadow: 0 19px 35px rgba(0,0,0,0.15), 0 15px 12px rgba(0,0,0,0.07);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.sqaure:hover {
    transform: scale(1.04);
    box-shadow: 0 19px 45px rgba(0,0,0,0.1), 0 15px 20px rgba(0,0,0,0.06);
}

.product .notext-wrapper {
    display: flex;
    flex-direction: column;
}

.price {
    padding-top: 20px;
    letter-spacing: 1px;
}

#minimalist {
    background: url("assets/img/minimalist.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

#classic {
    background: url("assets/img/classic.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

#keyring {
    background: url("assets/img/keyring.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

#belt {
    background: url("assets/img/belt.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

#reverse {
    flex-direction: row-reverse;
}

/* About */

.about {
    color: white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%,rgba(0,0,0,0.6) 100%), url('assets/img/about-lg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.about a {
    color: white;
}

/* Shop */

.shop {
    min-height: 80vh;
    flex-direction: column;
    text-align: center;
}

.logo-wrapper {
    max-width: 60vw;
}

.shop ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding-bottom: 10px; */
    /* columns: 4; */
}

.shop li {
    /* float: left; */
    padding: 20px 40px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shop img {
    height: 60px;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 40vh;
    width: 100%;
    background-color: white;
    overflow: hidden;
    z-index: 99;
    padding: 50px;
}

footer ul {
    display: flex;
    justify-content: center;
}


footer li {
    padding: 0 20px;
    font-weight: bold;
    /* font-size: 10px; */
}

footer h5 {
    text-transform: uppercase;
    letter-spacing: 2.7px;
    line-height: 21px;
    font-size: 10px;
}

footer h6 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 7px;
    opacity: 0.7;
}

footer .text-wrapper {
    transform: scale(0.35);
    width: 100%;
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-wrapper div {
    padding: 20px;
    width: 270px;
}

#punchline {
    width: 70vw;
    padding: 10px 20px;
}

#punchline ul {
    justify-content: space-around;
}

#luke {
    color: blue;
    transition: all .8s;
}

#luke:hover {
    color: aqua;
    font-weight: bolder;
}



/* Animations */

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@keyframes blur {
    100% {
        -webkit-filter: blur(0px);
    }
}



/* Responsive */

@media (max-width: 768px) {

    h1,h2,h3,p {
        transform: scale(.9);
    }

    section {
        padding: 20px;
    }

    .hero {
        height: 90vh;
    }

    .hero .text-wrapper {
        padding: 70px 0 40px 0;
    }

    .heading {
        height: 20vh;
        padding: 50px 0 0 0;
    }

    .product {
        height: 100vh;
        flex-direction: column;
        justify-content: center;
    }

    #reverse {
        flex-direction: column;
    }

    .sqaure {
        margin-top: 40px;
        width: 250px;
        height: 250px;
    }

    p {
        width: 80vw;
    }

    .shop {
        padding: 70px 0;
    }

    .shop img {
        height: 50px;
    }

    .shop ul {
        padding-top: 50px;
    }

    #punchline {
        width: 90vw;
        padding: 20px 0;
    }

    footer {
        padding: 10px;
    }

    footer ul {
        flex-direction: column;
        text-align: center;
    }

    footer li {
        padding: 20px 0;
    }

    .footer-wrapper {
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .hide {
        display: none;
    }
}